# OLTP source (Aiven/MySQL)
OLTP_DB_HOST=mysql-3fa4fc41-giga-d6d4.l.aivencloud.com
OLTP_DB_PORT=13729
OLTP_DB_USER=consulta
OLTP_DB_PASSWORD=change_me
OLTP_DB_NAME=comex
OLTP_DB_SSL_DISABLED=false

# DW target (Docker MySQL)
DW_DB_HOST=localhost
DW_DB_PORT=3306
DW_DB_USER=etl_user
DW_DB_PASSWORD=etl_password
DW_DB_NAME=comex_dw

# Root password used by docker-compose MySQL container
DW_DB_ROOT_PASSWORD=root123
