# OLTP source (Aiven/MySQL)
DB_USER="consulta"
DB_PASSWORD=PASSWORD
DB_HOST="mysql-3fa4fc41-giga-d6d4.l.aivencloud.com"
DB_PORT=13729
DB_NAME=comex
DB_SSL_DISABLED=false

# DW target (Docker MySQL)
DW_DB_HOST=localhost
DW_DB_PORT=3306
DW_DB_USER=etl_user
DW_DB_PASSWORD=etl_password
DW_DB_NAME=comex_dw

# Root password used by docker-compose MySQL container
DW_DB_ROOT_PASSWORD=root123
